.noticia__titulo, .componente__titulo{
    color: orange;
}

.noticia__prop, .componente__prop {
    color: green;
}

.placeholder {
    padding: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}